<div class="about-container" id="about">
    <h2>About the Project</h2>
    <p>The principal objective of the proposed Project is the design and construction of a new wind turbine in a field on the west side of an overflow carpark associated with Hovione.  The project will reduce Hovione’s carbon footprint while providing a substantial proportion of the facility’s electrical power requirements.</p> 
    <p>The proposed turbine will have an output of up to 4.3 megawatts. The turbine will have a hub height of 150m with a rotor radius of 138m. The turbine will be of a typical modern design, an Enercon E138 EP3 model or similar. The rotor comprises of three blades attached to the hub. The colour of the proposed turbine will be a suitable pale, off white, natural colour, and will match the existing turbines in the area.</p>
    <p>The main features of the development include:
        <ul style="margin: 0 0 0 20px;">
            <li>A wind turbine, including foundations</li>  
            <li>Associated transformer and switchgear located within or adjacent to the turbine</li>
            <li>Buried electrical and fibre-optic cabling within the northern site and connecting to the main Hovione campus (Under the L6517)</li>
            <li>One crane pad</li>
        </ul>
    </p>
</div>