<div class="about-container" id="about">
    <h2>About the Project</h2>
    <p class="about-text">
    The principal objective of the project is the construction of a new wind turbine in an undeveloped field to the west of an overflow carpark associated with Hovione.  The project will reduce Hovione’s carbon footprint while providing a substantial proportion of the facility’s electrical power requirements, with the capability to produce 14,000 MWh/Year. This will be a large step towards a more sustainable future for Hovione’s Irish base, as currently the primary source of energy is gas.
    </p>
    <p class="about-text">
    The proposed turbine will have an output of up to 4.3 megawatts with an overall height of 150m and a rotor diameter of 138m. The turbine will be of a typical three-bladed modern design and will be constructed with the surrounding landscape in mind, using a pale natural colour and matching other turbines in surrounding area. The main features of the development will include:
    <ul class="about-text">
        <li>Delivery and installation of an Enercon 4.3 MW Wind Turbine, model number E-138-EP3</li>
        <li>Buried electrical and fibre-optic cabling running from the turbine connecting to the main Hovione campus
            (under the L6517)</li>
        <li>All associated infrastructure including transformer, switch gear and crane pad.</li>
    </ul>
    </p>
</div>