<div class="brochure-container">
    <p class="brochure-text just">
        Hovione has partnered with Trident Project Engineering, Mainline Group and Aqualicense to coordinate 
        the erection of a wind turbine on the premises of the Cork Hovione campus in Loughbeg, Ringaskiddy. 
        Please contact us if you have any inquiries to make or concerns to voice.
    </p>
    <p class="brochure-text just">
        Below you can download a brochure containing a detailed explanation of the project, as well as some information about Hovione as a company.
    </p>
    <p class="brochure-text"><a class="brochure-btn" href="assets\Hovione-Cork-Wind-Turbine-Brochure.pdf" download><i class="fa fa-download"></i> View Brochure</a></p>
    <p class="brochure-text"></p>
</div>