<div class="contact-container" id="contact">
    <h2>Get in Touch</h2>
    <p>All opinions surrounding the proposed project are welcome. You can reach us on our dedicated phone line
    <a href="tel:0873379875"><i class="fa fa-phone"></i>087 337 9875</a>
    or by emailing us at 
    <a href="mailto:info@aqualicense.com"><i class="fa fa-envelope"></i>info@aqualicense.com</a>
    </p>
</div>