<div class="contact-container" id="contact">
    <div class="contact-content">
    <h2 class="contact-heading">Get in Touch</h2>
    <p class="contact-text">
    All opinions surrounding the proposed project are welcome. There will be two public information meetings held in Ringaskiddy Community Centre at XXpm on Wednesday 24th January and Wednesday 28th February. All interested in the project are welcome to attend. You can reach us via email or by calling us on our dedicated phone line.
    </p>
    </div>
    <div class="contact-links">
    <a class="contact-link" href="tel:0000000000"><i class="fa fa-phone"></i> 000 000 0000</a>
    <a class="contact-link" href="mailto:info@hovionecorkwindturbine.com"><i class="fa fa-envelope"></i> info@hovionecorkwindturbine.com</a>
    </div>
</div>