<div class="faq-container" id="faq">
    <h2>Frequently Asked Questions</h2>
    <button class="accordion">What will be the visual impact of the wind turbine on the area?</button>
    <div class="panel">
        <p>
            A Landscape and Visual Impact Assessment will be carried out by a qualified person prior to submission of
            the
            planning application, the results of which will be available upon completion of the assessment.
        </p>
    </div>

    <button class="accordion">What is Shadow Flicker?</button>
    <div class="panel">
        <p>
            Shadow flicker occurs in the profile of the wind turbine and is the flickering effect caused by the rotation
            of the turbine's blades. The effect of shadow flicker on surrounding properties will be assessed in the
            Landscape and Visual Impact Assessment
        </p>
    </div>

    <button class="accordion">How loud will the turbine be?</button>
    <div class="panel">
        <p>
            Turbines generally have a low decibel level of c. 50 dB at a distance of 300m. Regarding this project, there
            are no dwellings within this 300m diameter, and sound dissipates relatively quickly beyond this. 50dB is
            seen as a safe sound level and will not cause any harm to hearing.
        </p>
    </div>

    <button class="accordion">How will the turbine effect birds in the area?</button>
    <div class="panel">
        <p>
            Birds striking blades can happen at wind turbine developments. However, there is evidence that birds become
            aware of the blade paths and avoid the blade sweep area of the turbine. Cumulatively, with the other
            turbines in the area there is unlikely to be large disturbance as they are well distanced from each other.
            An impact assessment for birds and bats will be carried out by a qualified person and made available to the
            public.
        </p>
    </div>

    <button class="accordion">Will the turbine have any impact on the waters of Cork Harbour?</button>
    <div class="panel">
        <p>
            The project has no interaction with the waters in Cork Harbour and will not effect. It is located in an
            industrial area c. 160m from the closest point on the shore, an intertidal area to the south.
        </p>
    </div>

    <button class="accordion">Where will the turbine be?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">Who will the turbine supply?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">Why was the turbine chosen?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">Who is involved in the project?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">What phase is it in?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">What impacts to roads will occur?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">What service disruptions will occur?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">What effect will the turbine have on wildlife?</button>
    <div class="panel">
        <p>
        </p>
    </div>

    <button class="accordion">How can I voice my opinion?</button>
    <div class="panel">
        <p>
        </p>
    </div>
</div>