<div class="footer-container">
    <div class="left-content"><p>© {% year %} Aqualicense Limited | All Rights Reserved</p></div>
    <div class="right-content">
        <p>
        <a href="assets/Aqualicense-Limited-Disclaimer.pdf" target="_blank" class="footer-link">Disclaimer</a>
         | 
        <a href="assets/Aqualicense-Limited-Privacy-Policy.pdf" target="_blank" class="footer-link">Privacy Policy</a>
        </p>
    </div>
</div>