<div class="flex-box nav-padding">
    <img src="assets/logo.webp" alt="Hovione | in it for life" class="logo">
    <nav>
        <a href="#about" class="nav-text text-dark hover-red font-bold margin-right">ABOUT THE PROJECT</a>
        <a href="#faq" class="nav-text text-dark hover-red font-bold margin-right">FAQS</a>
        <a href="#contact" class="nav-text text-red hover-red font-bold">GET IN TOUCH</a>
    </nav>
</div>