<div class="header-container">
    <img src="assets/logo.webp" alt="Hovione | in it for life" class="logo">
    <nav>
        <a href="#about">ABOUT THE PROJECT</a>
        <a href="#faq">FAQS</a>
        <a class="red" href="#contact">GET IN TOUCH</a>
    </nav>
</div>