<div class="header-container">
    <img src="assets/logo.webp" alt="Hovione | in it for life" height="60px">
    <div class="nav-links">
        <a href="#about">ABOUT THE PROJECT</a>
        <a href="#faq">FAQS</a>
        <a href="#contact">GET IN TOUCH</a>
    </div>
</div>