<div class="hero-container">
    <h1 style="display:none;">Hovione Cork Wind Turbine</h1>
    <h2>Welcome</h2>
    <div class="hero-space"></div>
    <p>Hovione has partnered with Aqualicense, Trident Project Engineering, and Mainline Group to coordinate the erection of a wind turbine on the premises of the Cork Hovione campus in Loughbeg, Ringaskiddy. You are welcome to browse the FAQs below and download a brochure containing more information. Please contact us if you have any inquiries to make or concerns to voice.</p>
</div>