<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="css/style.css"-->
    <link rel="stylesheet" href="css/global.css">
    <link href=’https://fonts.googleapis.com/css?family=Lato’ rel=’stylesheet’/>
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/7b5db1341d.js" crossorigin="anonymous"></script>
    <title>Hovione Cork Wind Turbine</title>
</head>
<body>
    {% include "components/header.njk" %}
    {{ content | safe}}
    {% include "components/footer.njk" %}
</body>
</html>