/* general */
body {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #e70d2f;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #002a3e;
    transition: 0.3s;
}

a:hover {
    color: #ee566e;
}

/* containers */
.header-container {
    padding: 20px 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    max-width: 350px; /* Adjust the max-width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

nav {
    display: flex;
    font-weight: 600;
    font-size: 18px;
}

nav a {
    margin-right: 15px;
}

.hero-container {
    background-image: url('../assets/cover-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60vh;
}

.hero-text{
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px #002a3e;
}

.brochure-container {
    background-color: #e70d2f;
    color: white;
    padding: 20px 100px;
}

.brochure-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.just {
    text-align: justify;
}

.mg-btm {
    margin-bottom: 40px;
}

.brochure-btn {
    background-color: white;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 400;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.about-container {
    padding: 20px 100px;
}

.about-text {
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
}

.contact-container {
    background-color: #002a3e;
    color: white;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    height: 40vh;
}

.contact-content {
    flex: 1;
}

.contact-links {
    margin-left: 64px;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: space-between;
}

.contact-heading {
    color: white;
    text-align: left;
}

.contact-text {
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
}

.contact-link {
    color: white;
}

.contact-link:hover {
    color: #e70d2f;
}

.faq-container {
    padding: 20px 100px;
}

.footer-container {
    background-color: #e70d2f;
    color: white;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.left-content,
.right-content {
    margin: 0 10px;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #002a3e;
}

/* accordion */
.accordion-div {
    padding: 0 100px 0;
}

.accordion {
    background-color: #eee;
    color: #002a3e;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    color: #e70d2f;
}
  
.panel {
    padding: 0 18px;
    margin-top: 2px;
    font-size: 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
}

.faq-heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

.faq-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.red {
    color: #e70d2f;
}