* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header-container {
    background-color: #fff;
}

.hero-container {
    background-color: #eee;
}

.brochure-container {
    background-color: #ddd;
}

.about-container {
    background-color: #ccc;
}

.faq-container {
    background-color: #bbb;
}

.contact-container {
    background-color: #aaa;
}

.footer-container {
    background-color: #999;
}